[tool.poetry]
name = "{{ _package_name }}"
version = "0.1.0"
description = "An onchain AI agent"
authors = ["Your Name <your.email@example.com>"]
license = "MIT"
package-mode = false

[tool.poetry.dependencies]
python = "^3.10"
python-dotenv = "^1.0.1"
coinbase-agentkit = { path = "/Users/carsonroscoe/Documents/Github/Coinbase/agentkit/python/coinbase-agentkit/dist/coinbase_agentkit-0.4.0-py3-none-any.whl" }
{% if _framework == "langchain" %}langchain-openai = "^0.2.4"
langgraph = "^0.2.39"
coinbase-agentkit-langchain = { path = "/Users/carsonroscoe/Documents/Github/Coinbase/agentkit/python/framework-extensions/langchain/dist/coinbase_agentkit_langchain-0.3.0-py3-none-any.whl" }{% elif _framework == "openai_agents" %}openai-agents = "0.0.6"
coinbase-agentkit-openai-agents-sdk = { path = "/Users/carsonroscoe/Documents/Github/Coinbase/agentkit/python/framework-extensions/openai-agents-sdk/dist/coinbase_agentkit_openai_agents_sdk-0.3.0-py3-none-any.whl" }
openai = "1.68.0"{% endif %}
{% if _wallet_provider == "server" or _wallet_provider == "smart"%}cdp-sdk = { path = "/Users/carsonroscoe/Documents/Github/Coinbase/cdp-sdk/python/dist/cdp_sdk-1.5.0-py3-none-any.whl" }{% endif %}

[tool.poetry.scripts]
start-agent = "chatbot:main"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
